@media only screen and (max-width: 500px) {
  .footer_feature {
    width: 100vw !important;
    font-size: 1rem !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
  }
}
